/*
プレイヤー(駒)のレイアウト用css
*/

#piece{
	margin-top: 16px;
    margin-left: 45px;
    position: absolute;
}

/* 個別の駒の設定 */
#piece1_1{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece1_2{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece2_1{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece2_2{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece3_1{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece3_2{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece4_1{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece4_2{
	top:0px;
	left: 0px;
	position: absolute;
}

.piece_size{
	width: 80px;
	height: 80px;
}
