/*
プレイヤー(駒)のレイアウト用css
*/

#piece{
	margin-top: 16px;
    margin-left: 45px;
    position: absolute;

}

// 個別の駒の設定
#piece_1_1{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece_1_2{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece_2_1{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece_2_2{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece_3_1{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece_3_2{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece_4_1{
	top:0px;
	left: 0px;
	position: absolute;
}
#piece_4_2{
	top:0px;
	left: 0px;
	position: absolute;
}

.piece_size{
	width: 90px;
	height: 90px;
	position: absolute;
}
