/*
マスのレイアウト用css
*/


#square{
	position: absolute;
	margin-top: 43px;
    margin-left: 55px;
}

/*背景の設定*/
.background{
	position: absolute;
}

/*タイルそのものの設定*/
.tile{
	position: absolute;
	width: 80px;
    height: 80px;
}

/*タイルの列の設定*/
.column1{
	margin-left: 0px;
}
.column2{
	margin-left: 70px;
}
.column3{
	margin-left: 140px;
}
.column4{
	margin-left: 210px;
}
.column5{
	margin-left: 280px;
}
.column6{
	margin-left: 350px;
}
.column7{
	margin-left: 420px;
}
.column8{
	margin-left: 490px;
}

/*タイルの行の設定*/
.line1{
	width: 980px;
    height: 80px;
}
.line2{
	width: 980px;
    height: 80px;
	margin-left: 35px;
	margin-top: -20px;
}
.line3{
	width: 980px;
    height: 80px;
	margin-top: -20px;
}
.line4{
	width: 980px;
    height: 80px;
	margin-left: 35px;
	margin-top: -20px;
}
.line5{
	width: 980px;
    height: 80px;
	margin-top: -20px;
}
.line6{
	width: 980px;
    height: 80px;
	margin-left: 35px;
	margin-top: -20px;
}
.line7{
	width: 980px;
    height: 80px;
	margin-top: -20px;
}
.line8{
	width: 980px;
    height: 80px;
	margin-left: 35px;
	margin-top: -20px;
}
