/*
マスのレイアウト用css
*/


#square{
	position: absolute;
	margin-top: 43px;
    margin-left: 55px;
}

/*背景の設定*/
.background{
	position: absolute;
}

/*タイルそのものの設定*/
.tile{
	position: absolute;
	width: 80px;
    height: 80px;
}

/*タイルの列の設定*/
.square_column1{
	margin-left: 0px;
}
.square_column2{
	margin-left: 80px;
}
.square_column3{
	margin-left: 160px;
}
.square_column4{
	margin-left: 240px;
}
.square_column5{
	margin-left:320px;
}
.square_column6{
	margin-left: 400px;
}
.square_column7{
	margin-left: 480px;
}
.square_column8{
	margin-left: 560px;
}

/*タイルの行の設定*/
.square_line1{
	width: 980px;
    height: 80px;
}
.square_line2{
	width: 980px;
    height: 80px;
	margin-left: 35px;
	margin-top: -10px;
}
.square_line3{
	width: 980px;
    height: 80px;
	margin-top: -10px;
}
.square_line4{
	width: 980px;
    height: 80px;
	margin-left: 35px;
	margin-top: -10px;
}
.square_line5{
	width: 980px;
    height: 80px;
	margin-top: -10px;
}
.square_line6{
	width: 980px;
    height: 80px;
	margin-left: 35px;
	margin-top: -10px;
}
.square_line7{
	width: 980px;
    height: 80px;
	margin-top: -10px;
}
.square_line8{
	width: 980px;
    height: 80px;
	margin-left: 35px;
	margin-top: -10px;
}
